*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #25c96f;
}
.main{
/* border: 1px solid black; */
display: flex;
justify-content: center;
align-items: center;
}
.title{
text-align: center;
margin-bottom: 10px;
margin-top: 20px;
}
.container{
/* border: 1px solid red; */
height: 70vh;
width: 70vh;
display: flex;
justify-content: center;
align-items: center;
}
.game{
/* border: 1px solid green; */
height: 65vmin;
width: 65vmin;
display: flex;
flex-wrap: wrap;justify-content: center;
align-items: center;
gap: 8px;
}
.box{
height: 18vmin;
width: 18vmin;
cursor: pointer;
border:none;
box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.3);
border-radius: 8px;
color: #b0413e;
font-size: 8vmin;
background-color:#ffffc4;
}
.reset-btn{
    width: 120px;
    height: 40px;
    font-size: 1.15rem;
    border: none;
    border-radius: 1rem;
    background-color: black;
    color: white;
    margin-left: 625px;
    cursor: pointer;
}
.newbtn{
border: none;
background-color: black;
color: white;
width: 120px ;
height: 35px;
border-radius: 8px;
padding: 5px;
margin-left: 630px;
margin-top: 10px;
font-weight: 800px;
font-size: 18px;
text-align: center;
cursor: pointer;

}
.mgs-container{
width: 100%;
height: 70px;
/* border: 2px solid black; */
margin-top: 5px;
padding-left: 395px;
}
p{
    font-size: 50px;
    font-weight: 800;
    color: #ffffc4;
}
.hide{
    display: none;
}